<section class="painel">
  <div class="painel__principal">
    <div class="principal__text">
      <div class="principal__title">
        <p>
          Hardsec
          <br>
          Browser
          <br>
          Isolation
        </p>
      </div>
      <p class="principal__subtitle">
        Protect your organization from <br> web threats now, and tomorrow.
      </p>
    </div>
    <img src="../../../assets/img-painel.png" alt="Tecnology" class="principal__img">
  </div>
  <div class="painel__support">
    <ul class="cards__list">
      <li class="card__item">
        <a href="" class="card__link">
          Protection Against <br> Ransomware & Phishing
        </a>
      </li>
      <li class="card__item">
        <a href="" class="card__link">
          Browser Isolation with <br>a Hardsec Pixel Gap
        </a>
      </li>
      <li class="card__item">
        <a href="" class="card__link">
          Full Isolation delivered <br> in the cloud
        </a>
      </li>
    </ul>
  </div>
</section>
