<header class="menu">
  <div class="menu__logo">
    <a href="" class="logo">
      {{logo}}
    </a>
  </div>
  <div class="menu__options">

    <ul class="options">
      <li class="options__item">
        <a class="item__link" [routerLink]="optionsId.at(0)?.id">
          {{optionsId.at(0)?.name}}
        </a>
      </li>
      <li class="options__item">
        <a class="item__link" [routerLink]="optionsId.at(1)?.id">
          {{optionsId.at(1)?.name}}
        </a>
      </li>
      <li class="options__item">
        <a class="item__link" [routerLink]="optionsId.at(2)?.id">
          {{optionsId.at(2)?.name}}
        </a>
      </li>
      <li class="options__item">
        <a class="item__link" [routerLink]="optionsId.at(3)?.id">
          {{optionsId.at(3)?.name}}
        </a>
      </li>
    </ul>
  </div>
</header>
