<section class="painel">

  <button class="painel__button_left" (click)="previousPoema()" [ngClass]="classPoemaLeft()"></button>

  <div class="painel__text">
    <h1 class="text__title">
      {{poemas.at(poemaSelected)?.titulo}}
    </h1>
    <p class="text__subtitle" *ngFor="let line of poemas.at(poemaSelected)?.textoArrayPoema()">
      {{line}}
    </p>
    <a [href]="this.poemas.at(poemaSelected)?.link" class="text__link">
      {{linkPainel}}
    </a>
  </div>

  <button class="painel__button_right" (click)="nextPoema()" [ngClass]="classPoemaRight()"></button>
</section>
