<header class="menu">
  <span class="menu__logo">
    <img src="../../../assets/menu-logo.png" alt="Logo" class="logo">
  </span>
  <ul class="menu__options">
    <li class="options__item">
      <a href="" class="item__link">
        Garrison ULTRA
      </a>
    </li>
    <li class="options__item">
      <a href="" class="item__link">
        Technology
      </a>
    </li>
    <li class="options__item">
      <a href="" class="item__link">
        Government
      </a>
    </li>
    <li class="options__item">
      <a href="" class="item__link">
        Resources
      </a>
    </li>
    <li class="options__item">
      <a href="" class="item__link">
        Company
      </a>
    </li>
  </ul>
</header>
